@import "./styles/custom.scss";

.action:hover, .action:focus, .action:focus-within {
    background-color: rgba(255, 255, 255, .5) !important;
}

body {
    direction: rtl;
    text-align: right !important;
}

.Toastify__toast {
    display: flex;
    flex-direction: row-reverse;
}